body {
    font-family: Bahnschrift;
    margin: 0;
}



@media screen and (min-width: 480px) {

    .spread {
        background-color: #517BBA;
        height: 500px;
        text-align: center;
    }

    .image {
        height: 75px;
        width: 400px;
        margin-top: 100px;
    }

    .image2 {
        width: 300px;
        height: 180px;
        float: left;
    }

    .database {
        height: 300px;
        text-align: center;
    }

    .but1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
        height: 50px;
        background-color: white;
        font-family: Bahnschrift;
    }

    .but2 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
        height: 50px;
        background-color: #517BBA;
        font-family: Bahnschrift;
    }

    .news {
        background-color: #517BBA;
        height: 500px;
        text-align: center;
    }

    .donate {
        height: 500px;
        text-align: center;
    }

    .txt {
        color: white;
    }

    .txt2 {
        color: white;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .txt3 {
        color: #517BBA;
        margin-top: 100px;
    }

    .txt4 {
        color: #517BBA;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 100px) and (max-width: 480px) {
    .spread {
        background-color: #517BBA;
        height: 500px;
        text-align: center;
    }

    .image {
        height: 50px;
        width: 250px;
        margin-top: 100px;
    }

    .image2 {
        width: 300px;
        height: 180px;
        float: left;
    }

    .database {
        height: 300px;
        text-align: center;
    }

    .but1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
        height: 50px;
        background-color: white;
        font-family: Bahnschrift;
    }

    .but2 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
        height: 50px;
        background-color: #517BBA;
        font-family: Bahnschrift;
    }

    .news {
        background-color: #517BBA;
        height: 500px;
        text-align: center;
    }

    .donate {
        height: 500px;
        text-align: center;
    }

    .txt {
        color: white;
    }

    .txt2 {
        color: white;
        margin-left: auto;
        margin-right: auto;
    }

    .txt3 {
        color: #517BBA;
        margin-top: 100px;
    }

    .txt4 {
        color: #517BBA;
        margin-left: auto;
        margin-right: auto;
    }
}
