/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap%27");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    font-size: 16px;
    /* Palette */
    --gray-100: #161616;
    --gray-90: #262626;
    --gray-80: #393939;
    --gray-70: #525252;
    --gray-60: #6f6f6f;
    --gray-50: #8d8d8d;
    --gray-40: #a8a8a8;
    --gray-30: #c6c6c6;
    --gray-20: #e0e0e0;
    --gray-10: #f4f4f4;
    --red-100: #2d0709;
    --red-90: #520408;
    --red-80: #750e13;
    --red-70: #a2191f;
    --red-60: #da1e28;
    --red-50: #fa4d56;
    --red-40: #ff8389;
    --red-30: #ffb3b8;
    --red-20: #ffd7d9;
    --red-10: #fff1f1;
    --magenta-100: #2a0a18;
    --magenta-90: #510224;
    --magenta-80: #740937;
    --magenta-70: #9f1853;
    --magenta-60: #d02670;
    --magenta-50: #ee5396;
    --magenta-40: #ff7eb6;
    --magenta-30: #ffafd2;
    --magenta-20: #ffd6e8;
    --magenta-10: #fff0f7;
    --purple-100: #1c0f30;
    --purple-90: #31135e;
    --purple-80: #491d8b;
    --purple-70: #6929c4;
    --purple-60: #8a3ffc;
    --purple-50: #a56eff;
    --purple-40: #be95ff;
    --purple-30: #d4bbff;
    --purple-20: #e8daff;
    --purple-10: #f6f2ff;
    --blue-100: #001141;
    --blue-90: #001d6c;
    --blue-80: #002d9c;
    --blue-70: #0043ce;
    --blue-60: #0f62fe;
    --blue-50: #4589ff;
    --blue-40: #78a9ff;
    --blue-30: #a6c8ff;
    --blue-20: #d0e2ff;
    --blue-10: #edf5ff;
    --cyan-100: #061727;
    --cyan-90: #012749;
    --cyan-80: #003a6d;
    --cyan-70: #00539a;
    --cyan-60: #0072c3;
    --cyan-50: #1192e8;
    --cyan-40: #33b1ff;
    --cyan-30: #82cfff;
    --cyan-20: #bae6ff;
    --cyan-10: #e5f6ff;
    --teal-100: #081a1c;
    --teal-90: #022b30;
    --teal-80: #004144;
    --teal-70: #005d5d;
    --teal-60: #007d79;
    --teal-50: #009d9a;
    --teal-40: #08bdba;
    --teal-30: #3ddbd9;
    --teal-20: #9ef0f0;
    --teal-10: #d9fbfb;
    --green-100: #071908;
    --green-90: #022d0d;
    --green-80: #044317;
    --green-70: #0e6027;
    --green-60: #198038;
    --green-50: #24a148;
    --green-40: #42be65;
    --green-30: #6fdc8c;
    --green-20: #a7f0ba;
    --green-10: #defbe6;
    --cool-gray-100: #121619;
    --cool-gray-90: #21272a;
    --cool-gray-80: #343a3f;
    --cool-gray-70: #4d5358;
    --cool-gray-60: #697077;
    --cool-gray-50: #878d96;
    --cool-gray-40: #a2a9b0;
    --cool-gray-30: #c1c7cd;
    --cool-gray-20: #dde1e6;
    --cool-gray-10: #f2f4f8;
    --warm-gray-100: #171414;
    --warm-gray-90: #272525;
    --warm-gray-80: #3c3838;
    --warm-gray-70: #565151;
    --warm-gray-60: #726e6e;
    --warm-gray-50: #8f8b8b;
    --warm-gray-40: #ada8a8;
    --warm-gray-30: #cac5c4;
    --warm-gray-20: #e5e0df;
    --warm-gray-10: #f7f3f2;
    --orange: #ff832b;
    --yellow: #f1c21b;
    --alert-60: var(--red-60);
    --alert-50: var(--green-50);
    --alert-40: var(--yellow);
    --alert-30: var(--blue-70);
    --black: black;
    --white: white;
    /* Spacing */
    --spcaing-01: 0.125rem;
    --spcaing-02: 0.25rem;
    --spcaing-03: 0.5rem;
    --spcaing-04: 0.75rem;
    --spcaing-05: 1rem;
    --spcaing-06: 1.5rem;
    --spcaing-07: 2rem;
    --spcaing-08: 2.5rem;
    --spcaing-09: 3rem;
    --spcaing-10: 4rem;
    --spcaing-11: 5rem;
    --spcaing-12: 6rem;
    --spcaing-13: 10rem;
    /* Font size */
    --code-01: 400 0.75rem "IBM Plex Mono";
    --code-02: 400 0.875rem "IBM Plex Mono";
    --label-01: 400 0.75rem "IBM Plex Sans";
    --label-02: 400 0.875rem "IBM Plex Sans";
    --helper-text-01: 400 0.75rem "IBM Plex Sans";
    --helper-text-02: 400 0.875rem "IBM Plex Sans";
    --body-compact-01: 400 1rem "IBM Plex Sans";
    --body-compact-02: 400 1rem "IBM Plex Sans";
    --body-01: 400 0.875rem "IBM Plex Sans";
    --body-02: 400 1rem "IBM Plex Sans";
    --heading-compact-01: 600 1rem "IBM Plex Sans";
    --heading-compact-02: 600 1.375rem "IBM Plex Sans";
    --heading-01: 600 1.25rem "IBM Plex Sans";
    --heading-02: 600 1.5rem "IBM Plex Sans";
    --heading-03: 400 1.50rem "IBM Plex Sans";
    --heading-04: 400 1.75rem "IBM Plex Sans";
    --heading-05: 400 2rem "IBM Plex Sans";
    --heading-06: 300 2.625rem "IBM Plex Sans";
    --heading-07: 300 3.375rem "IBM Plex Sans";
}

* {
    background: transparent;
    font-family: "IBM Plex Sans" !important;
    color: var(--text-primary);
    box-sizing: border-box;
}

body {
    background: var(--background);
}

.font-heading-compact-01 {
    font: var(--heading-compact-01) !important;
}

.font-heading-compact-02 {
    font: var(--heading-compact-02) !important;
}

.font-heading-01 {
    font: var(--heading-01) !important;
}

.font-heading-02 {
    font: var(--heading-02) !important;
}

.font-heading-03 {
    font: var(--heading-03) !important;
}

.font-heading-04 {
    font: var(--heading-04) !important;
}

.font-heading-05 {
    font: var(--heading-05) !important;
}

.font-heading-06 {
    font: var(--heading-06) !important;
}

.font-heading-07 {
    font: var(--heading-07) !important;
}

.font-code-01 {
    font: var(--code-01) !important;
}

.font-code-02 {
    font: var(--code-02) !important;
}

.font-label-01 {
    font: var(--label-01) !important;
}

.font-label-02 {
    font: var(--label-02) !important;
}

.font-helper-text-01 {
    font: var(--helper-text-01) !important;
}

.font-helper-text-02 {
    font: var(--helper-text-02) !important;
}

.font-body-compact-01 {
    font: var(--body-compact-01) !important;
}

.font-body-compact-02 {
    font: var(--body-compact-02) !important;
}

.font-body-01 {
    font: var(--body-01) !important;
}

.font-body-02 {
    font: var(--body-02) !important;
}
