@import url('/styles/global.css');

:root {
    /* Tokens */
    --background: var(--white);
    --background-hover: color-mix(in srgb, var(--gray-50) 12%, #fff);
    --background-active: color-mix(in srgb, var(--gray-50) 50%, #fff);
    --background-selected: color-mix(in srgb, var(--gray-50) 20%, #fff);
    --background-selected-hover: color-mix(in srgb, var(--gray-50) 32%, #fff);
    --background-inverse: var(--gray-80);
    --bacground-inverse-hover: color-mix(var(--gray-10), var(--gray-20) 50%);
    --background-brand: var(--blue-60);
    --layer-01: var(--gray-10);
    --layer-02: var(--white);
    --layer-03: var(--gray-10);
    --layer-hover-01: color-mix(in srgb, var(--gray-10), var(--gray-20) 50%);
    --layer-hover-02: color-mix(in srgb, var(--gray-10), var(--gray-20) 50%);
    --layer-hover-03: color-mix(in srgb, var(--gray-10), var(--gray-20) 50%);
    --layer-active-01: var(--gray-30);
    --layer-active-02: var(--gray-30);
    --layer-active-03: var(--gray-30);
    --layer-selceted-01: var(--gray-20);
    --layer-selceted-02: var(--gray-20);
    --layer-selceted-03: var(--gray-20);
    --layer-selceted-hover-01: color-mix(in srgb, var(--gray-20), var(--gray-30) 50%);
    --layer-selceted-hover-02: color-mix(in srgb, var(--gray-20), var(--gray-30) 50%);
    --layer-selceted-hover-03: color-mix(in srgb, var(--gray-20), var(--gray-30) 50%);
    --layer-selceted-inverse-03: var(--gray-100);
    --layer-selceted-disabled-03: var(--gray-50);
    --layer-accent-01: var(--gray-20);
    --layer-accent-02: var(--gray-20);
    --layer-accent-03: var(--gray-20);
    --layer-accent-hover-01: color-mix(in srgb, var(--gray-20), var(--gray-30) 50%);
    --layer-accent-hover-02: color-mix(in srgb, var(--gray-20), var(--gray-30) 50%);
    --layer-accent-hover-03: color-mix(in srgb, var(--gray-20), var(--gray-30) 50%);
    --layer-accent-active-01: var(--gray-40);
    --layer-accent-active-02: var(--gray-40);
    --layer-accent-active-03: var(--gray-40);
    --field-01: var(--gray-10);
    --field-02: var(--white);
    --field-03: var(--gray-10);
    --field-hover-01: color-mix(in srgb, var(--gray-10), var(--gray-20) 50%);
    --field-hover-02: color-mix(in srgb, var(--gray-10), var(--gray-20) 50%);
    --field-hover-03: color-mix(in srgb, var(--gray-10), var(--gray-20) 50%);
    --border-interactive: var(--blue-60);
    --border-subtle-01: var(--gray-30);
    --border-subtle-02: var(--gray-20);
    --border-subtle-03: var(--gray-30);
    --border-subtle-selected-00: var(--gray-30);
    --border-subtle-selected-01: var(--gray-30);
    --border-subtle-selected-02: var(--gray-30);
    --border-subtle-selected-03: var(--gray-30);
    --border-strong-01: var(--gray-50);
    --border-strong-02: var(--gray-50);
    --border-strong-03: var(--gray-50);
    --border-tile-01: var(--gray-30);
    --border-tile-02: var(--gray-40);
    --border-tile-03: var(--gray-30);
    --border-inverse: var(--gray-100);
    --border-disabled: var(--gray-30);
    --text-primary: var(--gray-100);
    --text-secondary: var(--gray-70);
    --text-placeholder: var(--gray-40);
    --text-on-color: var(--white);
    --text-on-color-disabled: var(--gray-50);
    --text-helper: var(--gray-60);
    --text-error: var(--red-50);
    --text-inverse: var(--white);
    --text-disabled: var(--gray-100);
    --link-primary: var(--blue-60);
    --link-primary-hover: var(--blue-70);
    --link-secondary: var(--blue-70);
    --link-inverse: var(--blue-40);
    --link-visited: var(--purple-60);
    --icon-primary: var(--gray-100);
    --icon-secondary: var(--gray-70);
    --icon-on-color: var(--white);
    --icon-on-color-disabled: var(--gray-50);
    --icon-interacitve: var(--blue-60);
    --icon-inverse: var(--white);
    --icon-disabled: color-mix(in srgb, var(--gray-100) 25%, #fff);
    --button-primary: var(--blue-60);
    --button-primary-hover: color-mix(in srgb, var(--blue-60), var(--blue-70) 50%);
    --button-primary-active: var(--blue-80);
    --button-secondary: var(--gray-80);
    --button-secondary-hover: color-mix(var(--gray-80), var(--gray-90) 50%);
    --button-secondary-active: var(--gray-60);
    --button-tertiary: var(--blue-60);
    --button-tertiary-hover: color-mix(var(--blue-60), var(--blue-70) 50%);
    --button-tertiary-active: var(--blue-80);
    --button-danger-primary: var(--red-60);
    --button-danger-secondary: var(--red-60);
    --button-danger-hover: color-mix(var(--red-60), var(--red-70) 50%);
    --button-danger-active: var(--red-80);
    --button-separator: var(--gray-20);
    --button-disabled: var(--gray-30);
    --support-error: var(--red-60);
    --support-success: var(--green-50);
    --support-warning: var(--yellow);
    --support-info: var(--blue-70);
    --support-error-inverse: var(--red-50);
    --support-success-inverse: var(--green-40);
    --support-warning-inverse: var(--yellow);
    --support-info-inverse: var(--blue-50);
    --focus: var(--blue-60);
    --focus-inset: var(--white);
    --focus-inverse: var(--white);
    --interactive: var(--blue-60);
    --highlight: var(--blue-20);
    --toggle-off: var(--gray-50);
    --overlay: color-mix(var(--gray-100) 50%, #ffffff00);
    --skeleton-element: var(--gray-30);
    --skeleton-background: color-mix(var(--gray-10), var(--gray-20) 50%);
}
