body {
    background-color: white;
    font-family: Bahnschrift;
}


@media screen and (min-width: 480px) {

    .açılış {
        height: 300px;
        margin-top: 100px;
        font-family: Bahnschrift;
        text-align: center;
    }

    .image {
        height: 100px;
        width: 500px;
        margin-top: 50px;
    }

}