body {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Bahnschrift;
    margin: 0;
}

@media screen and (min-width: 600px) {

    .açılış {
        text-align: center;
        background-color: white;
        height: 75px;
    }

    .image {
        width: 150px;
        height: 35px;
        margin-top: 20px;
        float: left;
        margin-left: 100px;
    }

    .button {
        background-color: white;
        float: left;
        margin-left: 200px;
        margin-top: 30px;
        color: #517BBA;
        border-style: none;
        width: 200px;
        font-size: larger;
    }

    .button2 {
        background-color: white;
        float: left;
        margin-left: 100px;
        margin-top: 30px;
        color: #517BBA;
        border-style: none;
        width: 200px;
        font-size: larger;
    }

    .içerik {
        margin-left: 115px;
        margin-top: 50px;
        width: 200px;
        color: white;
        font-size: 35px;
    }

    .txt {
        float: right;
        color: white;
        margin-top: 0px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .açılış {
        text-align: center;
        background-color: white;
        height: 75px;
    }

    .image {
        width: 120px;
        height: 25px;
        margin-top: 25px;
        float: left;
        margin-left: 5px;
    }

    .button {
        background-color: white;
        float: left;
        margin-left: 5px;
        margin-top: 30px;
        color: #517BBA;
        border-style: none;
        width: 100px;
    }

    .button2 {
        background-color: white;
        float: left;
        margin-top: 30px;
        color: #517BBA;
        border-style: none;
        width: 65px;
    }

    .içerik {
        margin-left: 15px;
        margin-top: 50px;
        color: white;
        font-size: 30px;
    }

    .txt {
        color: white;
        margin-top: 0px;
        margin-left: 15px;
    }
}