body {
    font-family: Bahnschrift;
    margin: 0;
}



@media screen and (min-width: 600px) {

    .açılış {
        text-align: center;
        background-color: black;
        height: 200px;
    }

    .image {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .button {
        background-color: black;
    }

    .içerik {
        margin-left: 115px;
        margin-top: 30px;
    }

    .ads {
        width: 553px;
        height: 180px;
        background-color: antiquewhite;
        text-align: center;
        margin-top: 50px;
    }

    .dwn {
        background-color: black;
        height: 100px;
        text-align: center;
        transform-style: preserve-3d;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .açılış {
        text-align: center;
        background-color: black;
        height: 200px;
    }

    .image {
        width: 100px;
        height: 100px;
        margin-top: 5px;
    }

    .button {
        margin-left: 20px;
    }

    .içerik {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
    }

    .ads {
        width: 280px;
        height: 180px;
        background-color: antiquewhite;
        text-align: center;
        margin-top: 50px;
    }
}
