body {
    background: #16213E;
    color: white;
}
    body::-webkit-scrollbar {
        width: 8px;
    }

    body::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
    }

    body::-webkit-scrollbar-thumb {
        background-color: midnightblue;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

.kontrol {
    background-color: black !important
}

.button2 {
    background: #16213E;
}

.feedback {
    background-color: #16213E;
}

.arama, .top_search, .arama2 {
    width: 580px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 2px 2px 2px;
    border: solid 1px;
    background-color: #161627 !important
}

    .arama:hover {
        background-color: #1a1a2e !important;
        transition: 300ms;
    }

#arama_çubugu:hover {
    background-color: #1a1a2e !important;
    transition: 300ms;
}

.weather {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1a1a2e inset !important;
    -webkit-text-fill-color: white !important
}


.gsc-cursor-next-page {
    color: white !important
}

.gsc-control-cse {
    border-style: none !important
}

.gsc-cursor {
    color: white !important
}

.üstkısım {
    background-color: #1a1a2e;
}

.link {
    background-color: #1a1a2e !important;
    padding: 5px 8px 8px 8px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.açılış, .panel, .button2, .Panel1, .photon_news, .links {
    background: #1a1a2e !important;
    color: white !important
}

#editortxt, #editortxt2 {
    color: white !important
}

@media screen and (min-width: 600px) {
    .arama {
        background-color: #1e5f74;
        width: 580px;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px 5px 5px 5px;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .arama {
        background-color: #1e5f74;
        width: 300px;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px 5px 5px 5px;
    }
}