body {
    background: #1a1a2e;
    color: white;
}

.kontrol {
    background-color: black !important
}

.arama {
    background-color: #1a1a2e !important
}

.gsc-cursor-next-page {
    color: white !important
}

.gsc-control-cse {
    border-style: none !important
}

.gsc-cursor {
    color: white !important
}

.link {
    background-color: #16213E;
    padding: 5px 8px 8px 8px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media screen and (min-width: 600px) {
    .arama {
        background-color: #1e5f74;
        width: 580px;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px 5px 5px 5px;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .arama {
        background-color: #1e5f74;
        width: 300px;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px 5px 5px 5px;
    }
}