.accordion-container {
  min-width: 100%;
  border-bottom: 1px solid var(--border-subtle-01);
  border-top: 1px solid var(--border-subtle-01);
}

.accordion-container + .accordion-container {
  border-top: 0;
}

.accordion-container button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spcaing-05);

  min-width: 100%;
  background: transparent;
  border: none;
  font: var(--text-primary);

  text-align: start;
}

.accordion-container button:hover {
  background: var(--layer-hover-01);
  cursor: pointer;
}

.accordion-container button:active {
  background: var(--layer-active-01);
}

.accordion-container button:focus {
  box-shadow: inset 0px 0px 0px 2px var(--focus);
}

.accordion-container .content {
  padding: var(--spcaing-05);
  line-height: 1.5rem;
  padding-right: 25%;
  display: none;
  opacity: 0;
}

.accordion-container.active .content {
  display: block;
  opacity: 1;
}

.accordion-container.active .icon {
  transform: rotate(180deg);
}

/***************************************/
.accordion-container.sidebar {
  border: none;
}

.accordion-container.sidebar button {
  padding: 0 var(--spcaing-04);
  padding-left: var(--spcaing-07);
  height: 2rem;
}

.accordion-container.sidebar .content {
  padding: 0 0 0 var(--spcaing-10);
}
