body {
    background-color: #517BBA;
    font-family: sans-serif;
}

.labeldiv{
    margin-top:100px;
    margin-left:100px;
    width:600px;
}

.image{
    float:right;
    width:400px;
    margin-right:100px;
}

.auto-style1 {
    width: 537px;
    height: 130px;
    margin-top: 45px;
    float:initial;
    text-align:center;
}

.orta {
    text-align: center;
}