body {
    background-color: #16213e;
    color: white;
    margin: 0;
}

@media screen and (min-width: 600px) {

    .üstkısım {
    }

    .a_image {
        width: 30px !important;
        display: inline;
    }

    .image:focus {
        outline: none;
    }

    .aramacon {
        width: 500px !important;
        height: 90px !important;
    }

    .aramapar {
        position: fixed;
        top: 10px;
        width: 100vw;
        z-index: 99;
    }

    .arama2 {
        text-align: center;
        background-color: #F9F9FA;
        width: 500px !important;
        height: 60px !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 7px 7px 7px 7px;
        border-style: solid !important;
    }

    #arama_çubugu2 {
        Height: 50px;
        Width: 400px !important;
    }

        #arama_çubugu2:focus {
            outline: none;
            background-color: transparent !important
        }

    .Button1 {
        vertical-align: middle;
    }

        .Button1:focus {
            outline: none;
        }
    .panel {
        background-color: #1a1a2e;
        max-width: 800px;
        max-height: 800px;
        margin-left: auto;
        margin-right:auto;
        margin-top: 20px;
        padding: 10px 10px 10px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        text-align:left;
    }

    #Label3 {
        float: right;
        margin-right: 50px;
        margin-top: 40px;
    }

    .image {
        width: 80px;
        height: 80px;
        margin-top: 20px;
        float: left;
        margin-left: 80px;
    }

    .asistanimg {
        width: 250px;
        height: 250px;
    }

    #BioText {
        background-color: transparent;
        min-width: 300px;
        height: 200px;
        color: white;
    }

    .button {
        background-color: #16213e;
        color: white;
        float: right;
        border-style: none;
        margin-top:5px;
    }

    .button2 {
        background-color: #16213e;
        color: white;
        float: left;
        margin-left: 45px;
        margin-top: 20px;
        border-style: none;
        width: 200px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: large;
        text-align: center;
        padding: 5px 5px 5px 5px;
        white-space: nowrap;
    }

    .button3 {
        background-color: #16213e;
        color: white;
        float: right;
        margin-right: 50px;
        margin-top: 20px;
        border-style: none;
        width: 150px;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: large;
        text-align: center;
        padding: 5px 5px 5px 5px
    }

    .seç {
        float: right;
        margin-right: 20px;
    }

    .içerikalt {
        text-align: center;
    }

    .footer {
        margin-top: 50px;
        text-align: center;
        height: 50px;
    }
}

.çizgi {
    background-color: black;
    margin-top: 0px;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .üstkısım {
    }

    .a_image {
        width: 30px !important;
        display: inline;
    }

        .image:focus {
            outline: none;
        }

    .aramacon {
        width: 99% !important;
        height: 90px !important;
    }

    .aramapar {
        position: fixed;
        top: 10px;
        width: 100vw;
        z-index: 99;
    }

    .arama2 {
        text-align: center;
        background-color: #F9F9FA;
        width: 350px !important;
        height: 60px !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 7px 7px 7px 7px;
        border-style: solid !important;
        margin-top: 10px !important;
    }

    #arama_çubugu2 {
        Height: 50px;
        Width: 250px !important;
    }

        #arama_çubugu2:focus {
            outline: none;
            background-color: transparent !important
        }

    .Button1 {
        vertical-align: middle;
    }

        .Button1:focus {
            outline: none;
        }

    .panel {
        background-color: #1a1a2e;
        max-width: 350px;
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 10px 10px 10px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: scroll;
    }

    .image {
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }

    .asistanimg {
        width: 100px;
        height: 100px;
    }

    .button {
        background-color: #16213e;
        color: white;
        float: right;
        border-style: none;
        margin-top: 5px;
    }

    .button2 {
        background-color: #16213e;
        color: white;
        float: left;
        margin-left: 45px;
        margin-top: 20px;
        border-style: none;
        width: 200px;
        height: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: large;
        text-align: center;
        padding: 5px 5px 5px 5px
    }

    #arama_çubugu {
        width: 200px;
        Height: 29px;
    }

        #arama_çubugu:focus {
            outline: none;
        }

    .seç {
        float:right;
    }

    .içerikalt {
        text-align: center;
    }

    .footer {
        margin-top: 50px;
        text-align: center;
        height: 50px;
    }
}
