<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" executionTimeout="360"/>
		<customErrors mode="Off" defaultRedirect="~/error.html"></customErrors>
	</system.web>
	<connectionStrings>
		<add name="con" connectionString="" />
		<add name="admin" connectionString="" />
		<add name="search" connectionString="" />
	</connectionStrings>
	<appSettings>
		<add key="api_url" value="" />
		<add key="api_pass" value=""/>
		<add key="enc_pass" value=""/>
	</appSettings>
</configuration>