@charset "UTF-8";
/*
    Artado UI Grid System
    ==========================================================================
    - Container 🆗
    - Rows 🆗
    - Columns 🆗
    - Offsets 🆗
    - Column Ordering 🆗
    - Nesting 🆗
    - Grid Variables 🆗
    - Grid Mixins 🆗

    developed by @yasinldev
*/
.Artado-container {
  padding-right: 1rem;
  padding-left: 1rem;
}
.Artado-container:not(.is-fluid) {
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .Artado-container:not(.is-fluid) {
    width: 100% !important;
    max-width: 570px !important;
  }
}
@media only screen and (min-width: 900px) {
  .Artado-container:not(.is-fluid) {
    width: 100% !important;
    max-width: 860px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .Artado-container:not(.is-fluid) {
    width: 100% !important;
    max-width: 1150px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .Artado-container:not(.is-fluid) {
    width: 100% !important;
    max-width: 1400px !important;
  }
}

.Artado-container-sm {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100% !important;
}
@media only screen and (min-width: 600px) {
  .Artado-container-sm {
    max-width: 570px !important;
  }
}
@media only screen and (min-width: 900px) {
  .Artado-container-sm {
    max-width: 860px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .Artado-container-sm {
    max-width: 1150px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .Artado-container-sm {
    max-width: 1400px !important;
  }
}

.Artado-container-md {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100% !important;
}
@media only screen and (min-width: 900px) {
  .Artado-container-md {
    max-width: 860px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .Artado-container-md {
    max-width: 1150px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .Artado-container-md {
    max-width: 1400px !important;
  }
}

.Artado-container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100% !important;
}
@media only screen and (min-width: 1200px) {
  .Artado-container-lg {
    max-width: 1150px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .Artado-container-lg {
    max-width: 1400px !important;
  }
}

.Artado-container-xl {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100% !important;
}
@media only screen and (min-width: 1800px) {
  .Artado-container-xl {
    max-width: 1400px !important;
  }
}

.Artado-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-xl-12, .column-xl-11, .column-xl-10, .column-xl-9, .column-xl-8, .column-xl-7, .column-xl-6, .column-xl-5, .column-xl-4, .column-xl-3, .column-xl-2, .column-xl-1, .column-lg-12, .column-lg-11, .column-lg-10, .column-lg-9, .column-lg-8, .column-lg-7, .column-lg-6, .column-lg-5, .column-lg-4, .column-lg-3, .column-lg-2, .column-lg-1, .column-md-12, .column-md-11, .column-md-10, .column-md-9, .column-md-8, .column-md-7, .column-md-6, .column-md-5, .column-md-4, .column-md-3, .column-md-2, .column-md-1, .column-sm-12, .column-sm-11, .column-sm-10, .column-sm-9, .column-sm-8, .column-sm-7, .column-sm-6, .column-sm-5, .column-sm-4, .column-sm-3, .column-sm-2, .column-sm-1, .column-xs-12, .column-xs-11, .column-xs-10, .column-xs-9, .column-xs-8, .column-xs-7, .column-xs-6, .column-xs-5, .column-xs-4, .column-xs-3, .column-xs-2, .column-xs-1, .column-na-12, .column-na-11, .column-na-10, .column-na-9, .column-na-8, .column-na-7, .column-na-6, .column-na-5, .column-na-4, .column-na-3, .column-na-2, .column-na-1, .column-xl, .column-lg, .column-md, .column-sm, .column-xs, .column-na {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.column-xl, .column-lg, .column-md, .column-sm, .column-xs, .column-na {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100% !important;
}

@media only screen and (min-width: 0px) {
  .column-na-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333% !important;
  }
  .column-na-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667% !important;
  }
  .column-na-3 {
    flex-basis: 25%;
    max-width: 25% !important;
  }
  .column-na-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333% !important;
  }
  .column-na-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667% !important;
  }
  .column-na-6 {
    flex-basis: 50%;
    max-width: 50% !important;
  }
  .column-na-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333% !important;
  }
  .column-na-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667% !important;
  }
  .column-na-9 {
    flex-basis: 75%;
    max-width: 75% !important;
  }
  .column-na-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333% !important;
  }
  .column-na-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667% !important;
  }
  .column-na-12 {
    flex-basis: 100%;
    max-width: 100% !important;
  }
  .offset-na-1 {
    margin-left: 8.3333333333% !important;
  }
  .offset-na-2 {
    margin-left: 16.6666666667% !important;
  }
  .offset-na-3 {
    margin-left: 25% !important;
  }
  .offset-na-4 {
    margin-left: 33.3333333333% !important;
  }
  .offset-na-5 {
    margin-left: 41.6666666667% !important;
  }
  .offset-na-6 {
    margin-left: 50% !important;
  }
  .offset-na-7 {
    margin-left: 58.3333333333% !important;
  }
  .offset-na-8 {
    margin-left: 66.6666666667% !important;
  }
  .offset-na-9 {
    margin-left: 75% !important;
  }
  .offset-na-10 {
    margin-left: 83.3333333333% !important;
  }
  .offset-na-11 {
    margin-left: 91.6666666667% !important;
  }
  .offset-na-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) {
  .column-xs-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333% !important;
  }
  .column-xs-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667% !important;
  }
  .column-xs-3 {
    flex-basis: 25%;
    max-width: 25% !important;
  }
  .column-xs-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333% !important;
  }
  .column-xs-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667% !important;
  }
  .column-xs-6 {
    flex-basis: 50%;
    max-width: 50% !important;
  }
  .column-xs-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333% !important;
  }
  .column-xs-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667% !important;
  }
  .column-xs-9 {
    flex-basis: 75%;
    max-width: 75% !important;
  }
  .column-xs-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333% !important;
  }
  .column-xs-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667% !important;
  }
  .column-xs-12 {
    flex-basis: 100%;
    max-width: 100% !important;
  }
  .offset-xs-1 {
    margin-left: 8.3333333333% !important;
  }
  .offset-xs-2 {
    margin-left: 16.6666666667% !important;
  }
  .offset-xs-3 {
    margin-left: 25% !important;
  }
  .offset-xs-4 {
    margin-left: 33.3333333333% !important;
  }
  .offset-xs-5 {
    margin-left: 41.6666666667% !important;
  }
  .offset-xs-6 {
    margin-left: 50% !important;
  }
  .offset-xs-7 {
    margin-left: 58.3333333333% !important;
  }
  .offset-xs-8 {
    margin-left: 66.6666666667% !important;
  }
  .offset-xs-9 {
    margin-left: 75% !important;
  }
  .offset-xs-10 {
    margin-left: 83.3333333333% !important;
  }
  .offset-xs-11 {
    margin-left: 91.6666666667% !important;
  }
  .offset-xs-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 600px) {
  .column-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333% !important;
  }
  .column-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667% !important;
  }
  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25% !important;
  }
  .column-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333% !important;
  }
  .column-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667% !important;
  }
  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50% !important;
  }
  .column-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333% !important;
  }
  .column-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667% !important;
  }
  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75% !important;
  }
  .column-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333% !important;
  }
  .column-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667% !important;
  }
  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100% !important;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333% !important;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667% !important;
  }
  .offset-sm-3 {
    margin-left: 25% !important;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333% !important;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667% !important;
  }
  .offset-sm-6 {
    margin-left: 50% !important;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333% !important;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667% !important;
  }
  .offset-sm-9 {
    margin-left: 75% !important;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333% !important;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667% !important;
  }
  .offset-sm-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 900px) {
  .column-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333% !important;
  }
  .column-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667% !important;
  }
  .column-md-3 {
    flex-basis: 25%;
    max-width: 25% !important;
  }
  .column-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333% !important;
  }
  .column-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667% !important;
  }
  .column-md-6 {
    flex-basis: 50%;
    max-width: 50% !important;
  }
  .column-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333% !important;
  }
  .column-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667% !important;
  }
  .column-md-9 {
    flex-basis: 75%;
    max-width: 75% !important;
  }
  .column-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333% !important;
  }
  .column-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667% !important;
  }
  .column-md-12 {
    flex-basis: 100%;
    max-width: 100% !important;
  }
  .offset-md-1 {
    margin-left: 8.3333333333% !important;
  }
  .offset-md-2 {
    margin-left: 16.6666666667% !important;
  }
  .offset-md-3 {
    margin-left: 25% !important;
  }
  .offset-md-4 {
    margin-left: 33.3333333333% !important;
  }
  .offset-md-5 {
    margin-left: 41.6666666667% !important;
  }
  .offset-md-6 {
    margin-left: 50% !important;
  }
  .offset-md-7 {
    margin-left: 58.3333333333% !important;
  }
  .offset-md-8 {
    margin-left: 66.6666666667% !important;
  }
  .offset-md-9 {
    margin-left: 75% !important;
  }
  .offset-md-10 {
    margin-left: 83.3333333333% !important;
  }
  .offset-md-11 {
    margin-left: 91.6666666667% !important;
  }
  .offset-md-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .column-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333% !important;
  }
  .column-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667% !important;
  }
  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25% !important;
  }
  .column-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333% !important;
  }
  .column-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667% !important;
  }
  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50% !important;
  }
  .column-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333% !important;
  }
  .column-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667% !important;
  }
  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75% !important;
  }
  .column-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333% !important;
  }
  .column-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667% !important;
  }
  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100% !important;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333% !important;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667% !important;
  }
  .offset-lg-3 {
    margin-left: 25% !important;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333% !important;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667% !important;
  }
  .offset-lg-6 {
    margin-left: 50% !important;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333% !important;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667% !important;
  }
  .offset-lg-9 {
    margin-left: 75% !important;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333% !important;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667% !important;
  }
  .offset-lg-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1800px) {
  .column-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333% !important;
  }
  .column-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667% !important;
  }
  .column-xl-3 {
    flex-basis: 25%;
    max-width: 25% !important;
  }
  .column-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333% !important;
  }
  .column-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667% !important;
  }
  .column-xl-6 {
    flex-basis: 50%;
    max-width: 50% !important;
  }
  .column-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333% !important;
  }
  .column-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667% !important;
  }
  .column-xl-9 {
    flex-basis: 75%;
    max-width: 75% !important;
  }
  .column-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333% !important;
  }
  .column-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667% !important;
  }
  .column-xl-12 {
    flex-basis: 100%;
    max-width: 100% !important;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333% !important;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667% !important;
  }
  .offset-xl-3 {
    margin-left: 25% !important;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333% !important;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667% !important;
  }
  .offset-xl-6 {
    margin-left: 50% !important;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333% !important;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667% !important;
  }
  .offset-xl-9 {
    margin-left: 75% !important;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333% !important;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667% !important;
  }
  .offset-xl-reset {
    margin-left: 0;
  }
}

/*# sourceMappingURL=_ArtadoGrid.css.map */
