@import url('/styles/global.css');
/* */
:root {
    /* Tokens */
    --background: var(--gray-100);
    --background-hover: color-mix(in srgb, var(--gray-50) 16%, black);
    --background-active: color-mix(in srgb, var(--gray-50) 40%, black);
    --background-selected: color-mix(in srgb, var(--gray-50) 24%, black);
    --background-selected-hover: color-mix(in srgb, var(--gray-50) 32%, black);
    --background-inverse: var(--gray-10);
    --bacground-inverse-hover: color-mix(var(--gray-10), var(--gray-20) 50%);
    --background-brand: var(--blue-60);
    --layer-01: var(--gray-90);
    --layer-02: var(--gray-80);
    --layer-03: var(--gray-70);
    --layer-hover-01: color-mix(in srgb, var(--gray-90), var(--gray-100) 50%);
    --layer-hover-02: color-mix(in srgb, var(--gray-80), var(--gray-90) 50%);
    --layer-hover-03: color-mix(in srgb, var(--gray-70), var(--gray-80) 50%);
    --layer-active-01: var(--gray-70);
    --layer-active-02: var(--gray-60);
    --layer-active-03: var(--gray-50);
    --layer-selceted-01: var(--gray-80);
    --layer-selceted-02: var(--gray-70);
    --layer-selceted-03: var(--gray-60);
    --layer-selceted-hover-01: color-mix(in srgb, var(--gray-80), var(--gray-90) 50%);
    --layer-selceted-hover-02: color-mix(in srgb, var(--gray-70), var(--gray-80) 50%);
    --layer-selceted-hover-03: color-mix(in srgb, var(--gray-60), var(--gray-70) 50%);
    --layer-selceted-inverse-03: var(--gray-10);
    --layer-selceted-disabled-03: var(--gray-60);
    --layer-accent-01: var(--gray-80);
    --layer-accent-02: var(--gray-70);
    --layer-accent-03: var(--gray-60);
    --layer-accent-hover-01: color-mix(in srgb, var(--gray-80), var(--gray-90) 50%);
    --layer-accent-hover-02: color-mix(in srgb, var(--gray-70), var(--gray-80) 50%);
    --layer-accent-hover-03: color-mix(in srgb, var(--gray-60), var(--gray-70) 50%);
    --layer-accent-active-01: var(--gray-70);
    --layer-accent-active-02: var(--gray-50);
    --layer-accent-active-03: var(--gray-80);
    --field-01: var(--gray-90);
    --field-02: var(--gray-80);
    --field-03: var(--gray-70);
    --field-hover-01: color-mix(in srgb, var(--gray-90), var(--gray-100) 50%);
    --field-hover-02: color-mix(in srgb, var(--gray-80), var(--gray-90) 50%);
    --field-hover-03: color-mix(in srgb, var(--gray-70), var(--gray-80) 50%);
    --border-interactive: var(--blue-60);
    --border-subtle-00: var(--gray-80);
    --border-subtle-01: var(--gray-80);
    --border-subtle-02: var(--gray-70);
    --border-subtle-03: var(--gray-60);
    --border-subtle-selected-00: var(--gray-70);
    --border-subtle-selected-01: var(--gray-70);
    --border-subtle-selected-02: var(--gray-60);
    --border-subtle-selected-03: var(--gray-50);
    --border-strong-01: var(--gray-60);
    --border-strong-02: var(--gray-50);
    --border-strong-03: var(--gray-40);
    --border-tile-01: var(--gray-70);
    --border-tile-02: var(--gray-60);
    --border-tile-03: var(--gray-50);
    --border-inverse: var(--gray-10);
    --border-disabled: color-mix(var(--gray-50), black 50%);
    --text-primary: var(--gray-10);
    --text-secondary: var(--gray-30);
    --text-placeholder: var(--gray-60);
    --text-on-color: var(--white);
    --text-on-color-disabled: color-mix(var(--white) 25%, black);
    --text-helper: var(--gray-50);
    --text-error: var(--red-40);
    --text-inverse: var(--gray-100);
    --text-disabled: color-mix(var(--gray-10) 25%, black);
    --link-primary: var(--blue-40);
    --link-primary-hover: var(--blue-30);
    --link-secondary: var(--blue-30);
    --link-inverse: var(--blue-60);
    --link-visited: var(--purple-40);
    --icon-primary: var(--gray-10);
    --icon-secondary: var(--gray-30);
    --icon-on-color: var(--white);
    --icon-on-color-disabled: color-mix(var(--gray-100) 25%, var(--gray-10));
    --icon-interacitve: var(--white);
    --icon-inverse: var(--gray-100);
    --icon-disabled: color-mix(in srgb, var(--gray-10) 25%, black);
    --button-primary: var(--blue-60);
    --button-primary-hover: color-mix(in srgb, var(--blue-60), var(--blue-70) 50%);
    --button-primary-active: var(--blue-80);
    --button-secondary: var(--gray-80);
    --button-secondary-hover: color-mix(var(--gray-80), var(--gray-90) 50%);
    --button-secondary-active: var(--gray-60);
    --button-tertiary: var(--white);
    --button-tertiary-hover: var(--gray-10);
    --button-tertiary-active: var(--gray-30);
    --button-danger-primary: var(--red-60);
    --button-danger-secondary: var(--red-60);
    --button-danger-hover: color-mix(var(--red-60), var(--red-70) 50%);
    --button-danger-active: var(--red-80);
    --button-separator: var(--gray-100);
    --button-disabled: var(--gray-70);
    --support-error: var(--red-50);
    --support-success: var(--green-40);
    --support-warning: var(--yellow);
    --support-info: var(--blue-50);
    --support-error-inverse: var(--red-60);
    --support-success-inverse: var(--green-50);
    --support-warning-inverse: var(--yellow);
    --support-info-inverse: var(--blue-70);
    --focus: var(--white);
    --focus-inset: var(--gray-100);
    --focus-inverse: var(--blue-60);
    --interactive: var(--blue-50);
    --highlight: var(--blue-90);
    --toggle-off: var(--gray-60);
    --overlay: color-mix(var(--gray-100) 70%, #ffffff00);
    --skeleton-element: var(--gray-70);
    --skeleton-background: color-mix(var(--gray-80), var(--gray-90) 50%);
}

.searchinput, .text-reset, .btn-close, .save {
    color: white !important;
}

.card, .card a, .searchbar, .bottom_tabs, .left_tabs, .right_tabs, .save {
    background-color: var(--gray-100) !important;
    color: white !important;
}

#ImageButton1, .text-reset, .btn-close {
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(260deg) brightness(97%) contrast(102%);
}

.card:hover {
    box-shadow: 0 10px 15px -3px #444444,0 4px 6px -2px rgba(0,0,0,0.1);
}

#offcanvasRight {
    background-color: #262626 !important;
}

.tab {
    color: #cccccc !important
}

    .tab:hover {
        color: #afaeae !important;
    }

select {
    color: var(--text-primary) !important;
    background: var(--field-01) !important;
    font: var(--body-compact-01);
}

.r_div {
    border: solid 1px white;
}
