body {
    background: #1c1c1c;
    color: white;
    margin: 0;
}
    body::-webkit-scrollbar {
        width: 8px;
    }

    body::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
    }

    body::-webkit-scrollbar-thumb {
        background-color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

.kontrol {
    background-color: #121212 !important
}

.arama, .arama2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 2px 2px 2px;
    border: solid 1px;
    background-color: #121212 !important
}

    .arama:hover, .arama2:hover {
        background-color: #010203 !important;
        transition: 300ms;
    }

.gsc-cursor-next-page {
    color: white !important
}

.gsc-control-cse {
    border-style: none !important
}

.gsc-cursor {
    color: white !important
}

.link {
    background-color: #181818;
    padding: 5px 8px 8px 8px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.üstkısım {
    background-color: #1c1c1c !important;
}

.vitrin {
    background-color: #121212;
    height: 320px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 98vw;
}

.feedback, #Deneyim, #Mail, #Gönder {
    background-color: #121212 !important;
    color: white
}

#Deneyim, #Mail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top:10px
}

#scroll::-webkit-scrollbar {
    background-color: #121212;
}

#scroll::-webkit-scrollbar-track {
    background-color: #222222;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: black;
    width: 20px;
}


/*Hesap Makinesi*/
.calculator {
    width: 400px;
    background-color: #121212;
    padding: 10px 5px;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
}

.display {
    width: 100%;
}

    .display input {
        width: 100%;
        padding: 15px 10px;
        text-align: right;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 35px;
    }

        .display input::placeholder {
            color: #9490ac;
        }

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

    .buttons input[type="button"] {
        font-size: 20px;
        padding: 17px;
        border: none;
        background-color: transparent;
        color: #ffffff;
        cursor: pointer;
        border-radius: 5px;
    }

        .buttons input[type="button"]:hover {
            box-shadow: 0 8px 25px #000d2e;
            background-color: #15173c;
        }

input[type="button"]#equal {
    grid-row: span 2;
    background-color: #15173c;
}

input[type="button"][value="0"] {
    grid-column: span 2;
}
/*Hesap Makinesi*/




.ürün {
    width: 150px;
    height: 250px;
    background-color: transparent !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
}

.ürün_image {
    max-width: 80%;
    max-height: 50%;
}

.ürün_txt {
    max-height: 50px;
    overflow: hidden;
}

.arama2, .top_search {
    background-color: #121212 !important;
    border-color: #121212 !important;
}

.button2 {
    background: #1c1c1c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
    -webkit-text-fill-color: white !important
}

.ınfo, .entity-content {
    background-color: #121212 !important;
    border: none !important;
}

.weather {
    background-color: transparent !important;
}


.açılış, .panel, .Panel1, .photon_news, .links {
    background-color: #121212 !important
}

.nicEdit-main {
    color: white !important
}

@media screen and (min-width: 600px) {
    .arama {
        background-color: #121212;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-style:none !important;
    }

        .arama:hover {
            background-color: #010203 !important;
            transition: 300ms;
        }

    #arama_çubugu:hover {
        background-color: #010203 !important;
        transition: 300ms;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .arama {
        background-color: #121212;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px 5px 5px 5px;
    }
}
