body {
    background-color: #16213e;
    color: white;
    margin: 0;
}

.footer {
    margin-top: 50px;
    text-align: center;
    height: 50px;
}

@media screen and (min-width: 600px) {

    .açılış {
        text-align: center;
        background-color: #1a1a2e;
        height: 120px;
    }

    .panel {
        background-color: #1a1a2e;
        width: 700px;
        margin-left: 150px;
        margin-top: 20px;
        padding: 10px 10px 10px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow:hidden;
    }

    #Post {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: scroll;
    }

        #Post::-webkit-scrollbar {
            display: none;
        }

    #Label3 {
        float: right;
        margin-right: 50px;
        margin-top: 40px;
    }

    .image {
        width: 80px;
        height: 80px;
        margin-top: 20px;
        float: left;
        margin-left: 80px;
    }

    .asistanimg {
        width: 250px;
        height: 250px;
    }

    #BioText {
        background-color: transparent;
        min-width: 300px;
        height: 200px;
        color: white;
    }

    .button {
        background-color: #16213e;
        color: white;
        float: right;
        margin-right: 50px;
        margin-top: 40px;
        border-style: none;
        width: 200px;
        height: 100px;
        font-size: larger;
    }

    .button2 {
        background-color: #16213e;
        color: white;
        float: right;
        margin-right: 50px;
        margin-top: 40px;
        border-style: none;
        width: 100px;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: large;
    }

    .içerik {
        text-align: center;
        font-size: 35px;
    }

    .içerikalt {
        text-align: center;
    }

    #ad{
        width:300px;
        height:300px;
        border-style:solid;
        float:right;
        margin-right:100px
    }

    #ad2 {
        margin-top: 10px;
        width: 700px;
        height:50px;
        margin-left: 150px;
        margin-top: 20px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .açılış {
        text-align: center;
        background-color: #1a1a2e;
        height: 150px;
        text-align: center;
    }

    .panel {
        background-color: #1a1a2e;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 10px 10px 10px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow:hidden;
    }

    #Button1, #Button4 {
        width: 90% !important
    }

    .image {
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }

    .asistanimg {
        width: 100px;
        height: 100px;
    }

    .button {
        background-color: white;
        margin-top: 10px;
        color: #517BBA;
        border-style: none;
        width: 100px;
    }

    .button2 {
        background-color: #16213e;
        color: white;
        margin-top: 10px;
        color: #517BBA;
        border-style: none;
        max-width: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .içerik {
        text-align: center;
        font-size: 30px;
    }

    .içerikalt {
        text-align: center;
    }

    #ad {
        margin-top: 10px;
        width: 90vw;
        height: 30vh;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
    }

    #ad2 {
        margin-top: 10px;
        width: 90vw;
        height: 10vh;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
    }

    #div, #div2 {
        text-align: center !important
    }
}
