@media screen and (min-width: 600px) {
    .button {
        height: 35px;
        background-color: #5F5F87 !important;
        color: white !important;
        margin-left: 20px
    }

    .login {
        height: 35px;
        float: left;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        left: 50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #5F5F87 !important;
        color: white !important
    }

    .left {
        height: 35px;
        float: left;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .right_b {
        height: 35px;
        background-color: #5F5F87 !important;
        color: white !important;
        position: absolute;
        top: 20px;
        right: 50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #5F5F87 !important;
        padding: 10px 10px 10px 10px !important;
    }

    .menu {
        height: 35px;
        margin-top: 0px !important;
        position: absolute;
        top: 20px;
        right: 100px;
    }

    .offcanvas-body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .offcanvas-body::-webkit-scrollbar {
            display: none;
        }

    .middle {
        text-align: center;
        display: table;
        width: 100%;
    }

    .searchbar {
        width: 550px !important;
        height: 50px !important;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap
    }

    #autocomplete-list {
        list-style-type: none;
        margin-top: 45px;
        margin-right: 60px;
        padding: 0;
        border: 1px solid #ccc;
        border-top: none;
        position: fixed;
        z-index: 999;
        width: 500px;
        max-height: 200px;
        overflow-y: auto;
        background-color: #fff;
        display: none;
        text-align: left;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

        #autocomplete-list li {
            padding: 10px;
            cursor: pointer;
        }

            #autocomplete-list li:hover {
                background-color: #f5f5f5;
            }

    .logo {
        width: 30px;
        float: left;
        margin-top: 5px;
        margin-right: 10px;
    }

    .searchinput {
        width: 440px;
        height: 100%;
        float: left;
        border: none;
        background-color: transparent;
    }

        .searchinput:focus {
            outline: none
        }

    .search {
        width: 30px;
        margin-top: 5px;
        margin-left: 10px;
        float: left
    }

    .icon {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .beta {
        height: 35px;
        float: right;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        right: 160px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 6px 20px 5px 20px !important
    }

    .save {
        width: 500px;
        min-height: 50px;
        background-color: #ffffff !important;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding: 10px 10px 10px 10px;
        border: 1px solid #bdbdbd;
        border-radius: 5px
    }

    #savetxt {
        display: inline
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .login {
        height: 35px;
        float: left;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        left: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #5F5F87 !important;
        color: white !important
    }

    .left {
        height: 35px;
        float: left;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .right_b {
        height: 35px;
        background-color: #5F5F87 !important;
        color: white !important;
        position: absolute;
        top: 20px;
        right: 50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #5F5F87 !important;
        padding: 10px 10px 10px 10px !important;
    }

    .menu {
        height: 35px;
        margin-top: 0px !important;
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .offcanvas-body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .offcanvas-body::-webkit-scrollbar {
            display: none;
        }

    .middle {
        text-align: center;
        display: table;
        width: 100%;
    }

    .searchbar {
        width: 90vw !important;
        height: 50px !important;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
    }

    .logo {
        width: 30px;
        float: left;
        margin-top: 5px;
        margin-right: 10px;
    }

    .searchinput {
        width: 60vw;
        height: 100%;
        float: left;
        border: none;
        background-color: transparent;
    }

        .searchinput:focus {
            outline: none
        }

    #autocomplete-list {
        list-style-type: none;
        margin-top: 45px;
        margin-right: 60px;
        padding: 0;
        border: 1px solid #ccc;
        border-top: none;
        position: fixed;
        z-index: 999;
        width: 300px;
        max-height: 200px;
        overflow-y: auto;
        background-color: #fff;
        display: none;
        text-align: left
    }

        #autocomplete-list li {
            padding: 10px;
            cursor: pointer;
        }

            #autocomplete-list li:hover {
                background-color: #f5f5f5;
            }

    .search {
        width: 30px;
        margin-top: 5px;
        float: left
    }

    .icon {
        min-width: 60px;
        border-radius: 6px;
    }

    .icon {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .beta {
        height: 35px;
        float: right;
        margin-top: 0px;
        position: absolute;
        top: 20px;
        right: 80px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 6px 20px 5px 20px !important
    }

    .save {
        width: 90vw;
        min-height: 50px;
        background-color: #ffffff !important;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding: 10px 10px 10px 10px;
        border: 1px solid #bdbdbd;
        border-radius: 5px
    }

    #savetxt {
        display: inline
    }
}
