body a {
    color: white !important;
    text-decoration: none;
}

    body a:hover {
        color: #9147ff !important
    }
    
body {
    background-color: #1C1C1C !important;
    color: white !important;
    margin: 0 0 0 0 !important;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


@media screen and (min-width: 600px) {
    .mobil-sidebar{
        display: none
    }

    .sidebar {
        width: 20vw;
        height: 100vh;
        padding: 20px 20px 20px 20px;
        background-color: #1C1C1C;
        float: left;
        border-right: 1px solid #808080;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: fixed;
        margin-top: -30px;
    }

        .sidebar::-webkit-scrollbar {
            display: none;
        }

        .sidebar a {
            color: white;
            text-decoration: none;
        }

            .sidebar a:hover {
                color: #9147ff;
            }

        .sidebar li {
            height: 50px;
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .sidebar header .image,
        .sidebar .icon {
            min-width: 60px;
            border-radius: 6px;
        }

        .sidebar .icon {
            min-width: 60px;
            border-radius: 6px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        .sidebar .text,
        .sidebar .icon {
            color: var(--text-color);
            transition: var(--tran-03);
        }

        .sidebar .text {
            font-size: 17px;
            font-weight: 500;
            white-space: nowrap;
            opacity: 1;
        }

        .sidebar header {
            position: relative;
        }

            .sidebar header .image-text {
                display: flex;
                align-items: center;
            }

            .sidebar header .logo-text {
                display: flex;
                flex-direction: column;
            }

    header .image-text .name {
        margin-top: 2px;
        font-size: 18px;
        font-weight: 600;
    }

    header .image-text .profession {
        font-size: 16px;
        margin-top: -2px;
        display: block;
    }

    .sidebar header .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .sidebar header .image img {
            width: 40px;
            border-radius: 6px;
        }

    .sidebar header .toggle {
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 25px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        transition: var(--tran-05);
    }

    .sidebar li.search-box {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;
        transition: var(--tran-05);
    }

        .sidebar li.search-box input {
            height: 100%;
            max-width: 200px !important;
            outline: none;
            border: none;
            background-color: var(--primary-color-light);
            color: var(--text-color);
            border-radius: 6px;
            font-size: 17px;
            font-weight: 500;
            transition: var(--tran-05);
        }

    .sidebar li a {
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;
        transition: var(--tran-03);
    }

    .sidebar .menu-bar {
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .menu-bar::-webkit-scrollbar {
        display: none;
    }

    .sidebar .menu-bar .mode {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
    }

    .sidebar .menu-bar .profile {
        height: 75px;
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
    }

    .menu-bar .mode .sun-moon {
        height: 50px;
        width: 60px;
    }

    .mode .sun-moon i {
        position: absolute;
    }

        .mode .sun-moon i.sun {
            opacity: 0;
        }

    .menu-bar .bottom-content .toggle-switch {
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
    }

    .toggle-switch .switch {
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }

    .switch::before {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--sidebar-color);
        transition: var(--tran-04);
    }

    .section {
        height: 300px;
        width: 60vw;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 30vw;
        background-color: #262626;
        padding: 20px 20px 20px 20px;
    }

    .h_image {
        height: 250px;
        width: 200px;
        display: inline;
        float: right;
        margin-right: 50px
    }

    .welcome{
        margin-top: 50px !important;
        margin-left: 50px;
        float: left
    }

    .more {
        height: 50px;
        padding: 10px 10px 10px 10px;
        background-color: #9147ff;
        border-radius: 10px;
        border: none;
        color: white;
        margin-top: 50px
    }

    .products {
        width: 60vw;
        margin-left: 20vw;
        padding: 10px 10px 10px 10px;
        margin-top: 30px;
    }

    .product_row {
        height: 300px;
        width: 200px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 10px;
        background-color: #262626;
        border-radius: 10px;
        overflow: hidden
    }
        .product_row:hover .logo {
            transform: scale(0.9);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }


    .pro_link {
        color: white;
        text-decoration: none !important;
    }
        .pro_link:hover {
            color: #9147ff !important;
        }

    .logo {
        width: 100%;
        height: 150px;
        float: left;
        margin-right: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform .2s;
    }

    .row_info{
        padding:10px 10px 10px 10px;
        text-align: center;
    }

    .gamepage {
        width: 60%;
        float: left;
        height: 100vh;
        background-color: #121212;
        border-right: 1px solid #808080;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .gamepage::-webkit-scrollbar {
            display: none;
        }

        .gamepage a {
            color: white;
            text-decoration: none;
        }

            .gamepage a:hover {
                color: #9147ff;
                border-color: #9147ff !important;
            }

    .game_info {
        width: 100%;
        margin-top: 20px;
    }

        .game_info a:hover {
            color: #9147ff;
            border-color: #9147ff !important;
        }

    .gamelogo {
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 20px;
        margin-left: 20px;
    }

    .url {
    }

        .url:hover {
            color: #9147ff;
            border-color: #9147ff !important;
        }

    .desc {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        max-height: 50%;
        margin-bottom: 20px;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .desc::-webkit-scrollbar {
            display: none;
        }

    .getbutton {
        height: 50px;
        padding: 10px 10px 10px 10px;
        background-color: #9147ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        color: white;
        float: right;
        margin-right: 30px;
    }

    .ism-slider {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
        height: 450px !important;
    }

    .textbox{
        width: 80%;
        min-height: 30px;
        border-radius: 10px;
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        background: transparent;
        color: white;
        margin-top: 20px
    }

    .dlist {
        background-color: #1C1C1C;
        padding: 5px 5px 5px 5px;
        border: 1px solid white;
        border-radius: 5px;
        color: white
    }

    input[type="file"]::file-selector-button, input[type="file"]::-webkit-file-upload-button {
        background-color: #303030;
        border: none;
        border-right: 1px solid #444444;
        color: #BCBCBC;
    }

    .tip {
        background-color: #F9FFA4;
        padding: 10px 10px 15px 10px;
        min-width: 100px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: black
    }

    .att {
        background-color: #FFB72B;
        padding: 10px 10px 10px 10px;
        min-width: 100px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: black;
    }

    .danger {
        background-color: #F24C4C;
        padding: 10px 10px 15px 10px;
        min-width: 100px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: white
    }
}



@media screen and (min-width: 100px) and (max-width: 600px) {
    .sidebar {
        display: none
    }
    
    .nav-link{
      width: 30px !important
    }

    .mobil-sidebar{
       
    }
        .mobil-sidebar::-webkit-scrollbar {
            display: none;
        }

        .mobil-sidebar a {
            color: white;
            text-decoration: none;
        }

            .mobil-sidebar a:hover {
                color: #9147ff;
            }

        .mobil-sidebar header .image-text {
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        .mobil-sidebar header .logo-text {
            margin-top: 20px
        }

    .image img, .icon{
        width: 50px;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .menu-bar {
        height: 50px;
        padding: 10px 10px 10px 10px;
        background-color: #262626;
        position: fixed;
        width: 98vw;
        bottom: 0px;
        z-index: 10;
        border-radius: 5px;
        overflow: scroll;
    }

    .section {
        height: 300px;
        width: 90vw;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: #262626;
        padding: 20px 20px 20px 20px;
    }

    .h_image {
        display: none
    }

    .welcome {
        margin-top: 50px !important;
        width: 200px;
    }

    .more {
        height: 50px;
        padding: 10px 10px 10px 10px;
        background-color: #9147ff;
        border-radius: 10px;
        border: none;
        color: white;
        margin-top: 50px
    }

    .products {
        width: 60vw;
        margin-left: 20vw;
        padding: 10px 10px 10px 10px;
        margin-top: 30px;
    }

    .product_row {
        height: 300px;
        width: 200px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 10px;
        background-color: #262626;
        border-radius: 10px;
        overflow: hidden
    }

        .product_row:hover .logo {
            transform: scale(0.9);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }


    .pro_link {
        color: white;
        text-decoration: none !important;
    }

        .pro_link:hover {
            color: #9147ff !important;
        }

    .logo {
        width: 100%;
        height: 150px;
        float: left;
        margin-right: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform .2s;
    }

    .row_info {
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    .gamepage {
        width: 60%;
        float: left;
        height: 100vh;
        background-color: #121212;
        border-right: 1px solid #808080;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .gamepage::-webkit-scrollbar {
            display: none;
        }

        .gamepage a {
            color: white;
            text-decoration: none;
        }

            .gamepage a:hover {
                color: #9147ff;
                border-color: #9147ff !important;
            }

    .game_info {
        width: 100%;
        margin-top: 20px;
    }

        .game_info a:hover {
            color: #9147ff;
            border-color: #9147ff !important;
        }

    .gamelogo {
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 20px;
        margin-left: 20px;
    }

    .url {
    }

        .url:hover {
            color: #9147ff;
            border-color: #9147ff !important;
        }

    .desc {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        max-height: 50%;
        margin-bottom: 20px;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

        .desc::-webkit-scrollbar {
            display: none;
        }

    .getbutton {
        height: 50px;
        padding: 10px 10px 10px 10px;
        background-color: #9147ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        color: white;
        float: right;
        margin-right: 30px;
    }

    .ism-slider {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
        height: 450px !important;
    }

    .textbox {
        width: 80%;
        min-height: 30px;
        border-radius: 10px;
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        background: transparent;
        color: white;
        margin-top: 20px
    }

    .dlist {
        background-color: #1C1C1C;
        padding: 5px 5px 5px 5px;
        border: 1px solid white;
        border-radius: 5px;
        color: white
    }

    input[type="file"]::file-selector-button, input[type="file"]::-webkit-file-upload-button {
        background-color: #303030;
        border: none;
        border-right: 1px solid #444444;
        color: #BCBCBC;
    }

    .tip {
        background-color: #F9FFA4;
        padding: 10px 10px 15px 10px;
        min-width: 100px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: black
    }

    .att {
        background-color: #FFB72B;
        padding: 10px 10px 10px 10px;
        min-width: 100px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: black;
    }

    .danger {
        background-color: #F24C4C;
        padding: 10px 10px 15px 10px;
        min-width: 100px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: white
    }
}    