body {
    font-family: 'Trebuchet MS';
}

@media screen and (min-width: 600px) {

    .açılış {
        text-align: center;
        background-color: white;
        height: 75px;
    }

    .image {
        width: 250px;
        height: 50px;
        margin-top: 20px;
        float: left;
        margin-left: 50px;
    }

    .asistanimg {
        width: 250px;
        height: 250px;
    }

    .button {
        background-color: white;
        float: left;
        margin-left: 150px;
        margin-top: 40px;
        color: #517BBA;
        border-style: none;
        width: 200px;
        font-size: larger;
    }

    .button2 {
        background-color: white;
        float: left;
        margin-left: 100px;
        margin-top: 40px;
        color: #517BBA;
        border-style: none;
        width: 200px;
        font-size: larger;
    }

    .içerik {
        margin-left: 100px;
        margin-top: 50px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .açılış {
        text-align: center;
        background-color: white;
        height: 75px;
        text-align: center;
    }

    .image {
        width: 300px;
        height: 50px;
        margin-top: 5px;
    }

    .asistanimg {
        width: 100px;
        height: 100px;
    }

    .button {
        background-color: white;
        margin-top: 10px;
        color: #517BBA;
        border-style: none;
        width: 100px;
    }

    .button2 {
        background-color: white;
        margin-top: 10px;
        color: #517BBA;
        border-style: none;
        width: 70px;
    }

    .içerik {
        margin-left:10px;
    }
}
