body {
    background-color: white;
    font-family: Bahnschrift;
}


@media screen and (min-width: 480px) {

    .açılış {
        height: 300px;
        margin-top: 100px;
        font-family: Bahnschrift;
        text-align: center;
    }

    .image {
        height: 100px;
        width: 500px;
        margin-top: 50px;
    }

    .textbox {
        margin-left: 0px;
        margin-top: 0px;
        Height: 29px;
        Width: 575px;
    }


    .açıklama {
        background-color: #517BBA;
        height: 450px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .image2 {
        width: 500px;
        height: 380px;
        float: right;
    }

    .dlabel {
        margin-left: 80px;
        width: 1200px;

    }
    .label{
        width:100px;
    }

    .Button1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
        height: 50px;
        background-color: #517BBA;
        font-family: Bahnschrift;
    }
}


@media screen and (min-width: 100px) and (max-width: 480px) {

    .açılış {
        height: 300px;
        margin-top: 0px;
        font-family: Bahnschrift;
        text-align: center;
    }

    .image {
        height: 80px;
        width: 300px;
        margin-top: 50px;
    }

    .textbox {
        margin-left: 0px;
        margin-top: 0px;
        Height: 29px;
        Width: 250px;
    }


    .açıklama {
        background-color: #517BBA;
        height: 1000px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .image2 {
        width: 300px;
        height: 280px;
    }

    .dlabel {
        margin-left: 20px;
        width: 300px;
    }

    .label {
        width: 50px;
    }

    .Button1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
        height: 50px;
        background-color: #517BBA;
        font-family: Bahnschrift;
    }
}