body {
    background-color: #fff;
    color: black !important
}
    body::-webkit-scrollbar {
        width: 8px;
    }

    body::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
    }

    body::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

.arama {
    width: 580px;
    height: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 8px 8px 8px;
    border-style:none !important
}

    .arama:hover {
        background-color: #EEEEEE !important;
        transition: 300ms;
    }

#arama_çubugu:hover {
    background-color: #EEEEEE !important;
    transition: 300ms;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #F9F9FA inset !important;
}

.arama2, .panel2, .top_search {
    border-color: lightgrey !important;
}

.üstkısım {
    background-color: #F9F9FA;
}

.link {
    background-color: lightgrey !important;
    padding: 5px 8px 8px 8px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.gs-webResult .gs-snippet, .gs-visibleUrl, .gs-fileFormatType {
    color: black !important
}

.gsc-cursor-next-page {
    color: black !important
}

.gsc-cursor-page {
    color: black !important
}

.gsc-control-cse {
    border-style: none !important
}

.vitrin {
    background-color: lightgrey;
    height: 320px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100vw;
}

#scroll::-webkit-scrollbar {
    background-color: white;
}

#scroll::-webkit-scrollbar-track {
    background-color: lightgrey;
}

#scroll::-webkit-scrollbar-thumb {
    background-color:grey;
    width: 20px;
}

.ürün {
    width: 150px;
    height: 250px;
    background-color:transparent !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
}

.ürün_image {
    max-width: 80%;
    max-height: 50%;
}

.ürün_txt {
    max-height: 50px;
    overflow: hidden;
}

.açılış, .panel, .button2, .Panel1, .photon_news {
    background: #F9F9FA !important;
    color: black !important
}

.kontrol{
    background-color: black!important;
}

@media screen and (min-width: 100px) and (max-width: 480px) {
    .arama {
        background-color: #F9F9FA;
        width: 300px;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 5px 5px 5px;
    }
}