/* Thin 100 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 100;
	src: url(IBMPlexSans-Thin.woff2), local("IBM Plex Sans Thin"), local("IBMPlexSans-Thin"),  format("woff2");
}

/* Thin 100 Italic */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 100;
	src: url(IBMPlexSans-ThinItalic.woff2), local("IBM Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"), format("woff2");
}

/* ExtraLight 200 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 200;
	src: url(IBMPlexSans-ExtraLight.woff2), local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtLt"), format("woff2");
}

/* ExtraLight 200 Italic */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 200;
	src: url(IBMPlexSans-ExtraLightItalic.woff2), local("IBM Plex Sans ExtraLight Italic"), local("IBMPlexSans-ExtLtItalic"), format("woff2");
}

/* Light 300 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 300;
	src: url(IBMPlexSans-Light.woff2), local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), format("woff2");
}

/* Light Italic 300 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 300;
	src: url(IBMPlexSans-LightItalic.woff2), local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), format("woff2");
}

/* Regular 400 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 400;
	src: url(IBMPlexSans-Regular.woff2), local("IBM Plex Sans Regular"), local("IBMPlexSans-Regular"), format("woff2");
}

/* Regular 400 Italic */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 400;
	src: url(IBMPlexSans-Italic.woff2), local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), format("woff2");
}

/* Medium 500 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 500;
	src: url(IBMPlexSans-Medium.woff2), local("IBM Plex Sans Medium"), local("IBMPlexSans-Medm"), format("woff2");
}

/* Medium 500 Italic */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 500;
	src: url(IBMPlexSans-MediumItalic.woff2), local("IBM Plex Sans Medium Italic"), local("IBMPlexSans-MedmItalic"), format("woff2");
}

/* SemiBold 600 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 600;
	src: url(IBMPlexSans-SemiBold.woff2), local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SmBld"), format("woff2");
}

/* SemiBold 600 Italic */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 600;
	src: url(IBMPlexSans-SemiBoldItalic.woff2), local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SmBldItalic"), format("woff2");
}

/* Bold 700 */
@font-face {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	src: url(IBMPlexSans-Bold.woff2), local("IBM Plex Sans Bold"), local("IBMPlexSans-Bld"), format("woff2");
}

/* Bold 700 Italic */
@font-face {
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: 700;
	src: url(IBMPlexSans-BoldItalic.woff2), local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BldItalic"), format("woff2");
}