@import url("/components/accordion/accordion.css");

.mainpanel-container {
    min-height: 100%;
    max-width: 16rem;
    transition: 231ms cubic-bezier(0.29, 0.04, 0.23, 1);
    position: fixed;
}

.mainpanel-container aside {
  background: var(--background);
  border-right: 1px solid var(--border-subtle-01);

  width: 16rem;
  min-height: calc(100vh - 3rem);
}

.mainpanel-container .sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--spcaing-04);

  min-width: 100%;
  height: 2rem;

  background: transparent;
  border: none;
  font: var(--text-primary);
}

.mainpanel-container .sidebar-item:hover {
  background: var(--layer-hover-01);
  cursor: pointer;
}

.mainpanel-container .sidebar-item:active {
  background: var(--layer-active-01);
}

.mainpanel-container .sidebar-item.active {
  box-shadow: inset 3px 0px 0px 0 var(--focus);
  background: var(--background-selected);
  font-weight: 600;
}

.mainpanel-container .sidebar-item:focus {
  box-shadow: inset 0px 0px 0px 2px var(--focus);
}

@media screen and (max-width: 1200px) {
  .mainpanel-container {
    transform: translateX(-16rem);
  }

  .mainpanel-container.active {
    transform: translateX(0);
  }
}
