body {
    background: url('../../pexels-johannes-plenio-3131634.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}



@media screen and (min-width: 100px) and (max-width: 600px) {

    body {
        background-image: url('../../pexels-eberhard-grossgasteiger-1624496.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}