body {
    background: url('../mountains-55067_640.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

@media screen and (min-width: 480px) {
    .top{
        text-align:center;
    }
    .image {
        width: 450px;
        height: 80px;
        margin-top:50px;
    }
    .sonucekle {
        background-color: black;
        width: 300px;
        padding: 20px 20px 20px 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        position: relative;
        margin: auto;
    }
}


@media screen and (min-width: 100px) and (max-width: 480px) {
    .top {
        text-align: center;
    }

    .image {
        width: 300px;
        height: 50px;
        margin-top: 50px;
    }

    .sonucekle {
        background-color: black;
        width: 300px;
        padding: 20px 20px 20px 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        position: relative;
        margin: auto;
        margin-top: 50px;
    }



}